/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  text-decoration: none;
  font-family: sans-serif;
}
.container {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

body {
  background-color: white;
}

h3 {
  border-bottom: 0.2rem solid rgba(139, 136, 136);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btn1,
#btn2 {
  background-color: lightblue;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
}
